{% extends 'base.html.twig' %}

{% block title %}Size{% endblock %}

{% block body %}
    <h1>Stock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock.product_id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ stock.size_id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stock_index') }}">back to list</a>

    <a href="{{ path('stock_edit', {'id': stock.id}) }}">edit</a>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
